* {
  margin: 0;
  padding: 0;

  /* Prevent text of buttons from being accidentally selected. */
  user-select: none;
  -moz-user-select: none;

  outline: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
