* {
  margin: 0;
  padding: 0;

  /* Prevent text of buttons from being accidentally selected. */
  user-select: none;
  -moz-user-select: none;

  outline: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.fullscreen-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.centered-container {
  aspect-ratio: 3 / 4;
  width: min(100dvw, calc(100dvh * 3 / 4));
  max-width: 100dvw;
  max-height: 100dvh;
  box-sizing: border-box;

  font-size: calc(min(100dvw, calc(100dvh * 3 / 4)) / 12);

  display: grid;
  grid-template-rows: 1fr 7fr;

  overflow: hidden;

  .hud, .game {
    overflow: hidden;
  }
}


dontyoufillit-hud {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;

  background: #334155;
  overflow: hidden;

  .left-col {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content;
    gap: 0 1ex;
    align-items: baseline;
    justify-content: start;

    line-height: 80%;
    padding-top: 0.15em;
  }

  .right-col {
    display: grid;
    grid-template-columns: auto auto;

    .lives {
      &[data-counter="3"]:before {
        content: "♥♥♥";
      }
      &[data-counter="2"]:before {
        content: "♥♥";
      }
      &[data-counter="1"]:before {
        content: "♥";
      }
    }

    /*
    * Header is 2em tall.
    * Pause bar is 80% tall, 30% wide.
    */
    .pause {
      display: flex;
      gap: 0.4em;
      justify-content: center;
      align-items: center;
      padding: 0.2em;

      .pause-bar {
        background: white;
        width: 0.6em;
        height: 1.6em;
      }
    }
  }
}

dontyoufillit-css-board {
  display: block;
  width: 100%;
  height: 100%;

  background: #0f172a;
  overflow: hidden;

  position: relative;

  #StaticBallLayer, #LiveBallLayer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  #StaticBallLayer {
    border: 1px solid black;
  }

  #LiveBallLayer {
    border-width: 1px;
    border-color: white;
    border-style: solid solid dashed;
  }

  .Cannon {
    position: absolute;
    background-color: transparent;
    width: 10%;
    height: 7.5%;
    left: 50%;
    bottom: 0;
  }

  .Cannon .In {
    position: absolute;
    left: -50%;
    width: 100%;
    height: 100%;
  }

  .Cannon .Base {
    position: absolute;
    width: 100%;
    height: 66.66666667%;
    bottom: 0;
    background: white;
  }

  .Cannon .Dome {
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
    top: -16.6666667%;
  }

  .Cannon .Turret {
    position: absolute;
    width: 66.666666667%;
    height: 55.5555556%;
    background: white;
    top: 5.55555556%;
    left: 50%;
    transform-origin: left 50%;
    -webkit-transform-origin: left 50%;
  }

  .ball {
    position: absolute;
    background-color: transparent;
  }

  .ball .disk {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
  }

  .ball .num {
    position: absolute;
    background-color: black;
    height: 70%;
  }

  .ball .bar {
    position: absolute;
    background-color: white;
    /* Should be 30%, but this might create stitching issues */
    width: 35%;
    height: 7.5%;
  }

  .ball[data-counter="1"] .num {
    width: 20%;
    left: 40%;
    top: 15%;
  }

  .ball[data-counter="1"] .bar {
    display: none;
  }

  .ball[data-counter="2"] .num, .ball[data-counter="3"] .num {
    width: 50%;
    left: 25%;
    top: 15%;
  }

  .ball[data-counter="2"] .bar-1, .ball[data-counter="3"] .bar-1 {
    left: 20%;
    top: 35%;
  }

  .ball[data-counter="2"] .bar-2 {
    left: 45%;
    top: 57.5%;
  }

  .ball[data-counter="3"] .bar-2 {
    left: 20%;
    top: 57.5%;
  }
}


#screenContainer {
  display: none;
}

#screenWrapper {
  position: relative;
  top: 0;
  /* Otherwise the content will be hidden by the scrollbar. */
  max-width: 100%;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.screen {
  /* To have the scroll handled by the screen */
  overflow: auto;

  box-sizing: border-box;
  padding: 0 1ex;
  display: none;
  background-color: transparent;
  color: white;
  z-index: -1;
  cursor: default;
}

.vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vcentered-inner {
  overflow-y: auto;
}

#licenseScreen * {
  margin: 0.5em 0;
}

.screen .title {
  margin: 0.8em auto;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

.option {
  font-weight: bold;
  text-align: center;
}

.screen h2 {
  font-size: 150%;
  margin: 0.8em 0;
}
.screen h3 {
  font-size: 100%;
  margin: 0.8em 0;
}
.screen .button {
  font-size: 250%;
  margin: 1.2em auto;
  text-align: center;
}
.screen .button > span {
  background-color: white;
  color: black;
  border-radius: 0.25em;
  padding: 0.25em;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.5;
}
.screen .score {
  font-size: 200%;
  text-align: center;
}

a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a.plain, a.plain:hover, a.plain:focus {
  text-decoration: none;
  font-family: monospace;
}

table.centered {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1em;
}

table.centered tr td p {
  margin: 0 1em;
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
