* { margin: 0; padding: 0;}

body, html { height:100%; }

#d {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
}
#c {
	display: block;
	position: absolute;
}
.modalScreen {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0 1ex;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: black;
	color: white;
	z-index: -1;
	text-align: center;
	font-family: 'Arial';
	cursor: default;
}
.modalScreen p {
	font-size: 1.5em;
	margin: 0.5em 0;
}
#startScreen {
	z-index: 1;
	display: block;
}
#pauseScreen {
	background-color: rgba(0, 0, 0, 0.85);
}
.modalScreen .title {
	margin: 1em auto;
	font-size: 3.5em;
	font-weight: bold;
}
.modalScreen .button {
	font-size: 3em;
	margin: 2em auto;
}
.modalScreen .button span {
	background-color: white;
	color: black;
	border-radius: 0.25em;
	padding: 0.25em;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.6;
}
.modalScreen .score {
	font-size: 2em;
}
.modalScreen .leftAligned {
	text-align: left;
}
.modalScreen .leftAligned p {
	margin: 1em 0;
}
