* {
	margin: 0;
	padding: 0;

	/* Prevent text of buttons from being accidentally selected. */
	user-select: none;
	-moz-user-select: none;

	outline: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, html {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}

#game {
	/* Balls will otherwise overflow and create scrollbars */
	overflow: hidden;
}

#ScoreCanvas, #PauseCanvas, #CannonCanvas, #BallCanvas, #Balls, .ball {
	display: block;
	position: absolute;
}

#Balls {
	border-width: 1px;
	border-color: white;
	border-style: solid solid dotted;
}

#screenContainer {
	display: none;
}

#screenWrapper {
	position: relative;
	top: 0;
	/* Otherwise the content will be hidden by the scrollbar. */
	max-width: 100%;
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.screen {
	/* To have the scroll handled by the screen */
	overflow: auto;

	box-sizing: border-box;
	padding: 0 1ex;
	display: none;
	background-color: transparent;
	color: white;
	z-index: -1;
	cursor: default;
}

.vcentered {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.vcentered-inner {
	overflow-y: auto;
}

#licenseScreen * {
	margin: 0.5em 0;
}

.screen .title {
	margin: 1em auto;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}
.screen h2 {
	font-size: 150%;
	margin: 0.8em 0;
}
.screen h3 {
	font-size: 100%;
	margin: 0.8em 0;
}
.screen .button {
	font-size: 250%;
	margin: 1.5em auto;
	text-align: center;
}
.screen .button span {
	background-color: white;
	color: black;
	border-radius: 0.25em;
	padding: 0.25em;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.6;
}
.screen .score {
	font-size: 200%;
	text-align: center;
}

a {
	color: #428bca;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}
a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a.plain, a.plain:hover, a.plain:focus {
	text-decoration: none;
	font-family: monospace;
}
